#header()
	<script type="text/javascript" src="${admurl}/kindeditor/kindeditor.js"></script>
	<script type="text/javascript" src="${admurl}/kindeditor/lang/zh_CN.js"></script>
	<ol class="breadcrumb">
	  <li><a href="$admurl/admin/welcome.html">首页</a></li>
	  <li><a href="#">用户银行卡管理</a></li>
	  <li class="active">修改</li>
	</ol>
	<div class="">
		<form class="form-horizontal" action="$admurl/admin/bankCard_update.html?type=upd" method="post">
		  <input type="hidden" name="id" value="$!bankCard.id">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
		    <div class="col-sm-3">
		      $!bankCard.username
		    </div>
		  </div>		  
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">真实姓名</label>
		    <div class="col-sm-3">
		      $!bankCard.realname
		    </div>
		  </div>		  
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">所属银行</label>
		    <div class="col-sm-3">
		    	<select class="form-control"  name="bankId">
		    	#foreach($bl in $!bankList)
		      		<option #if($!bankCard.bankId==$!bl.id) selected="selected"  #end value="$!bl.id" >$!bl.bankName</option>
		    	#end
		    	</select>
		    </div>
		  </div>		  
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">银行卡</label>
		    <div class="col-sm-3">
		      <input type="text" class="form-control" id="cardNo" name="cardNo" value="$!bankCard.cardNo" />
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">添加时间</label>
		    <div class="col-sm-3">
		      $!dateTool.dateStr($!bankCard.createdAt, 'yyyy-MM-dd HH:mm:ss')
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">修改</button>
		    </div>
		  </div>		  
		</form>
	</div>
	#if($!msg)
	<script type="text/javascript">swal("$!msg")</script>
	#end
	<script>
	        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id', {
                        uploadJson : ROOT_URL+'/kindeditor/jsp/upload_json.jsp',
                        fileManagerJson : ROOT_URL+'/kindeditor/jsp/file_manager_json.jsp',
                        allowFileManager : true
                	});
	        });
	        
	</script> 	
#footer()