#header()
	<ol class="breadcrumb">
	  <li><a href="$admurl/admin/welcome.html">首页</a></li>
	  <li><a href="#">报表管理</a></li>
	  <li class="active">借款人情况</li>
	</ol>
<!------------------内容区------------------->
<div class="">
		<form id="borrowForm" name="borrowForm" action="$admurl/borrow/borrowlist.html" class="navbar-form">
		<input type="hidden" id="page" name="page" #if($!page) value="$page" #else value="1" #end/>
		  <div class="form-group">
	              用户姓名：		  
	      <input type="text" class="form-control" style="width: 180px" placeholder=" 用户姓名" name="username" value="$!username">
	             开始时间：
      	  <input type="text" class="xmdate form-control" style="width: 100px" placeholder="开始时间" name="startTime" value="$!startTime">	
      	  结束时间：
      	  <input type="text" class="xmdate form-control" style="width: 100px" placeholder="结束时间" name="endTime" value="$!endTime">	
      	  </div>
      	  &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-default">搜索</button>
	    <br>
	    <br>
	<table class="table table-bordered table-hover">
			<thead>
			<tr>
			<td class="pure-table-title">标ID</td>
			<td class="pure-table-title">标名称</td>
			<td class="pure-table-title">发标时间</td>
			<td class="pure-table-title">审核通过时间</td>
			<td class="pure-table-title">发标金额</td>
			<td class="pure-table-title">奖励金额</td>
			<td class="pure-table-title">利率</td>
			<td class="pure-table-title">投资期限</td>
			<td class="pure-table-title">借款人</td>
			<td class="pure-table-title">还款时间</td>
			<!-- <td class="pure-table-title">利息</td> -->
			<td class="pure-table-title">已还款金额</td>
			</tr>
			</thead> 	                                                                                                    	                           	        
		<tbody>
           	#foreach($borrow in ${borrowpage.result})  
        <tr>
           
            <td>$!borrow.id</td>
            <td>$!borrow.name</td>
            <td>$timeTool.getStr($!borrow.addtime)</td>
            <td>$timeTool.getStr($!borrow.shtime)</td>
            <td>$!borrow.account</td>
            <td>#if($borrow.award==0) 无奖励
            	#elseif ($borrow.award==1) $!borrow.funds 
            	#else $borrow.partAccount % 
            	#end
            </td>
            <td>$!borrow.apr</td>
            <td>$!borrow.timeLimit
            	#if($!borrow.isDay==1)
										天
										#else
										个月
									#end
            </td>
            <td>$!borrow.username</td>
            <td>$timeTool.getStr1($!borrow.hktime)</td>
            <!-- <td>$!borrow.hkinterest</td> -->
            <td>$!borrow.hkaccount</td>
         </tr>
            #end
         </tbody>
	</table>
	    #pagination($borrowpage 'borrowForm')
	</form>
	<form action="$admurl/borrow/borrowlist.html" method="post" style="position:  -13px; padding-right:36px;  text-align: right;">
			<input type="hidden" name="page" #if($!page) value="$page" #else value="1" #end/>
			<input type="hidden" name="excel" value="excel" />
			<input type="hidden" name="username" value="$!username">
			<input type="hidden" name="startTime" value="$!startTime">	
			<input type="hidden" name="endTime" value="$!endTime">	
			<input type="submit" value="导出">
		</form>
</div>
<!-------------------------页脚------------------------>
#footer()